body {
	font-family: Open Sans, sans-serif;
	font-size: 16px;
}

form {
	padding: 20px;
}

.form-content {
	background: #E5E5FF;
	padding: 10px 20px 20px 20px;
	border-radius: 5px;
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
	min-height: 350px;
	min-width: 200px;
}

.clear {
	clear: both;
}

h1, h2 {
	font-size: 20px;
	color: #000033;
}

table {
	background: #FFF;
	border-collapse: collapse;
}

table td, table th {
	padding: 10px;
}

table thead {
	background: #FFFFC3;
	color: #000033;
}

.image {
	width: 70px;
	height: 70px;
	overflow: hidden;	
}

.image img {
	width: 70px;
	height: auto;
}

input, select {
	font-size: 16px;
}

input[type="number"] {
	width: 100px;
	height: 25px;
}

input[type="text"], input[type="tel"], input[type="email"] {
	width: 300px;
	height: 25px;
}

input[type="checkbox"], input[type="radio"] {
	margin-right: 6px;
}

select {
	width: 180px;
}

.button-submit {
	color: #E5E5FF;
	background: #000033;
	border: 0;
	padding: 10px 15px;
	border-radius: 5px;
}

.button-submit:hover {
	background: #3B003B;
}

.button-submit:active {
	background: #000;
}

.error {
	font-size: 10px;
	color: red;
}
